ul {
    list-style-type: none;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.collection-item {
    display: flex;
    border-style: groove none none;
    font-size: large;
    padding: 3px 15px;
}

.delete-item {
    margin-left: auto;
    margin-right: 5px;
}
