body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.switcher {
    width: 300px;
    height: 200px;
    font-size: 50px;
    background-color: black;
    color: white;
}

.switcher.dark-mode {
    background-color: white;
    color: black;
}

.time {
    display: flex;
    justify-content: center;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}